:root {
  --text-color: #2e2e2e;
}

* {
  margin: 0px;
  color: var(--text-color);
  font-family: 'Satoshi', sans-serif;
}

.nav-bar-item {
  margin: 5px 10px;
  font-size: 16pt;
  font-weight: 700;
  text-decoration: none;
}

.nav-bar-item:hover {
  color: gray;
}

#home-link {
  font-size: 20pt;
}

#home-link:hover {
  color: var(--text-color);
}

#nav-bar {
  margin: 2% 2% 1%;
  display: flex;
  justify-content: space-between;
}

#nav-items-right {
  align-items: center;
  display: flex;
  justify-content: center;
}
