:root {
  --text-color: #2e2e2e;
}

* {
  margin: 0px;
  color: var(--text-color);
  font-family: 'Inter', sans-serif;
}

main {
  margin: 2rem 7.5rem;
}

footer {
  background-color: #c0d9f0;
  padding: 2rem 7.5rem;
  font-weight: bold;
}

header {
  background-color: #c0d9f0;
}

.nav-bar-item {
  margin: 5px 10px;
  font-size: 16pt;
  font-weight: 700;
  text-decoration: none;
}

.nav-bar-item:hover {
  color: gray;
}

.text-center {
  text-align: center;
  font-size: 16pt;
  padding: 1rem;
}

#home-link {
  font-size: 20pt;
}

#home-link:hover {
  color: var(--text-color);
}

#nav-bar {
  padding: 2rem 2rem;
  display: flex;
  justify-content: space-between;
}

#nav-items-right {
  align-items: center;
  display: flex;
  justify-content: center;
}

#title{
  color: var(--text-color);
  font-weight: bold;
  font-size: 40pt;
  padding: 5rem 0rem 2.5rem 0rem;
}

#title-description {
  font-size: 20pt;
  font-weight: 500;
}
